<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<footer class="footer">
    <div class="bottomInfo">
        <div class="bottomDetail">
            <h2>About Us</h2>
            <p class="pfoot">Lorem ipsum dolor sit amet consectetur adipisicing elit.Assumenda ut at aperiam rem vitae <br>porro corporis suscipit error harum, sapiente eum,blanditiis dolorem debitis nam <br>obcaecati quis officiis maiores ratione. Iste.</p>
        </div>

        <div class="bottomDetail">
            <h2>Contact Us</h2>
            <p>Address: <span>Noida</span></p>
            <p>Phone: <span>+91 2362920</span></p>
            <p>E-mail: <span>xyz@gmail.com</span>
            </p>
                    
<!-- Add font awesome icons -->
<div class="socialMedia">
    <a href="https://www.facebook.com/thesparksfoundation.info/" class="fa fa-facebook"></a>
    <a href="https://twitter.com/tsfsingapore" class="fa fa-twitter"></a>
    <a href="https://www.instagram.com/thesparksfoundation.info/?hl=en" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-youtube"></a>
    </div>
        </div>
    </div>

    <hr>
    <div class="endfoot">
        Copyright  © 2022 SparksBank.com | All rights reserved
    </div>
</footer>