<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sparks Bank</title>
    <!-- <link rel="stylesheet" media="screen and (max-width: 1170px)" href="css/phone.css"> -->
   
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="navbar">
        <h3 class="logo">Sparks Bank <span>...the safest...the fastest</span></h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/view">View Customer</a></li>
          <li><a href="/history">Transaction history</a></li>
        </ul>
        
           
    </div>
</body>
</html>