<%- include("partials/header")%>

<section id="introSection">
    <div> <h2>Welcome to Sparks Bank</h2>
        <div class="small">Safe | Secure | Fast | Easy </div>
</h2>
</div>

<button  class="btn" type="submit">Create User</button>
<div id="circle">Anybody ordered
    a bank?<div>
    Our banking services now comes to you...</div>

</div>


</section>

<%- include("partials/footer")%>

